     /* for password eye */

     #password {
        padding-right: 30px;
    }

    #toggle-password, #driverTogglePassword, #driverCtogglePassword {
        position: absolute !important;
        top: 45% !important;
        right: 1rem !important;
        transform: translateY(-50%) !important;
        cursor: pointer ;
    }

    #Ctoggle-password, #Ntoggle-password, #Rtoggle-password {
        position: absolute !important;
        top: 69% !important;
        right: 1rem !important;
        transform: translateY(-50%) !important;
        cursor: pointer     !important;
    }



    /* for signUp password input field */
    .password-container {
        position: relative;
    }

    .password-container i {
        position: absolute;
        top: 50%;
        right: 15px;
        /* Adjust the right distance as needed */
        transform: translateY(-50%);
        cursor: pointer;
    }