*{
    padding: 0;
    margin: 0;

}
header {
    background-color: aqua;
    border: 1px solid black;
    height: 10vh;
}

aside {
    background-color: gold;
    border: 1px solid black;
    height: 75vh;
}

article {
    background-color: blanchedalmond;
    border: 1px solid black;
    height: 75vh;

}

footer {
    background-color: aqua;
    border: 1px solid black;
    height: 15vh;
}

main{
    display: grid;
    grid-template-areas:
        "head head head"
        "side content content "
        "foot foot foot  ";
    grid-template-columns: 150px auto 30px;
}

header{
    grid-area: head;
}
article{
    grid-area: content;
  
}
aside{
    grid-area: side;
}

footer{
    grid-area: foot;
}