/* *{
    padding: 0;
    margin: 0;

}
header {
    background-color: aqua;
    height: 10vh;
}

aside {
    background-color: gold;
    height: 75vh;
}

article {
    background-color: blanchedalmond;
    height: 75vh;

}

footer {
    background-color: aqua;
    height: 15vh;
}

main{
    display: grid;
    grid-template-areas:
        "head head head"
        "side content content "
        "foot foot foot  ";
    grid-template-columns: 150px auto 30px;
}

header{
    grid-area: head;
}
article{
    grid-area: content;
  
}
aside{
    grid-area: side;
}

footer{
    grid-area: foot;
} */

/* Global styles */
* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F3DEBA;
    
  }
  
  .container {
    display: flex;
    flex-direction: row;
    min-height: 92vh;

  }
  
  /* Header styles */
  header {
    background-color: #675D50;
    height: 70px;
    padding: 10px;
  }
  /* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aqua;
    border: 1px solid black;
  } */
  
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
    color: #F3DEBA;
  }

  ul li a{
    color: #F3DEBA;
  }

  ul li a:hover{
    color: #ABC4AA;
    text-decoration: none;
  }
  
  /* Sidebar styles */
  aside {
    background-color: lightgray;
    padding: 2rem;
  }
  
  /* Main content styles */
  main {
    flex-grow: 1;
    /* padding: 2rem; */
    width: 85%;
  }
  
  /* Footer styles */
  footer {
    background-color: #675D50;
    min-height: 78px;
    padding: 10px;
    width: 100%;
    color: #F3DEBA;
  }
  
  /* Example section styles */
  .container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* to make aside tag 100%height with container tag */
  .container {
    display: flex;
    height: auto; /* Set the container height to 100% viewport height */
    border: 1px solid black;
  }
  
  .sidebar {
    background-color: #A9907E;
    color: #F3DEBA;
    flex-basis: 15%; /* Set the width of the sidebar */
  }

  .sidebar div a{
    /* color: #F3DEBA; */
    color: white;
    text-decoration: none; 
  }
  
  .sidebar div a:hover{
    /* color: #ABC4AA; */
    color:black;
  }
  
  .content {
    background-color: blanchedalmond;
    flex-grow: 1; /* Let the content area grow to fill the remaining space */
  }
     /* sweet alert notification */
     .swal2-title {
      font-size: 1.3rem !important;
  }