table {
    margin: auto;
    background-color: #675d50;
    margin-top: 2rem;
}

tr,
td,
th {
    text-align: center;
    color: #F3DEBA;
    border: 2px solid #F3DEBA !important;
}

hr {
    border-top: 2px solid white !important;
    width: 80%;
    margin: 20px auto;
}

td a {
    margin: 0 0.4rem !important;
}