table {
    margin: auto;
    background-color: #675d50;
    margin-top: 2rem;
}

tr,
td,
th {
    text-align: center;
    color: #F3DEBA;
    border: 2px solid #F3DEBA !important;
}

hr {
    border-top: 2px solid white !important;
    width: 80%;
    margin: 20px auto;
}

td a {
    margin: 0 0.4rem !important;
}

/* ajax table */
.form-control-sm {
    background-color: #A9907E !important;
    color: #F3DEBA !important;
}

table.dataTable {
    border-collapse: collapse !important;
}

th {
    text-align: center !important;
}

.page-item.active .page-link {
    color: #F3DEBA !important;
    background-color: #675D50 !important;
    border-color: #F3DEBA !important;
}

.page-link {
    color: #F3DEBA !important;
    background-color: #675D50 !important;
    border: 1px solid #F3DEBA !important;
}

.page-link:hover {
    color: #F3DEBA !important;
    background-color: #585045 !important;
    border-color: #F3DEBA !important;
}